/* Styles for Connect Four */

body {
    font-family: Helvetica, Arial;
}

h1 {
    text-align: center;
}

/* Center content */
#container {
    width: 50%;
    margin: 0 auto;
}

#message {
    text-align: center;
    font-size: 22px;
}

/* Center canvas */
#connectFourBoard {
    margin: auto;
    display: block;
}

button {
    margin: 20px auto;
    display: block;
    color: #fff;
    background-color: #2b53ff;
    border: 1px solid #1e46f2;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background-color: #123ae6;
    border: 1px solid #052dd9;
}
